.calendar_date_select {
  color:white;
  border:#777 1px solid;
  display:block;
  width:210px;
  z-index: 1000;
}

.calendar_date_select .weekdays td {
  font-weight:bold;
  background-color: #000;
  border-top:1px solid #777;
  border-bottom:2px solid #333;
  color: white !important;
}

.calendar_date_select .cds_time, .calendar_date_select .cds_buttons {
  text-align:center;
  padding:5px 0px;
  background-color: #555;
}

.calendar_date_select .cds_buttons {
  background-color:#E7E8E8;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}

.calendar_date_select .cds_footer {
  background-color: black;
  padding:3px;
  font-size:12px;
  text-align:center;
}

.calendar_date_select table {
  margin: 0px;
  padding: 0px;
}


.calendar_date_select .cds_header {
  background-color: #ccc;
  border-bottom: 2px solid #aaa;
  text-align:center;
}

.calendar_date_select input, .calendar_date_select select { height:21px; font-size:13px;}
.calendar_date_select .cds_header input.prev {
  width:22px;
  float:left;
}
.calendar_date_select .cds_header input.next {
  width:22px;
  float:right;
}
.calendar_date_select .cds_header select.month {
  width:95px;
}

.calendar_date_select .cds_header select.year {
  width:56px;
}

.calendar_date_select td {
  font-size:12px;
  width: 24px;
  height: 21px;
  text-align:center;
  vertical-align: middle;
  background-color: #666666;
}
.calendar_date_select td.weekend {
  background-color: #606060;
}

.calendar_date_select td div {
  color: #fff;
}
.calendar_date_select td div.other {
  color: #888;
}
.calendar_date_select td.selected div {
  color:black;
}

.calendar_date_select .days td {
  border-bottom: 1px solid #555;
}
.calendar_date_select td.selected {
  background-color:white;
}

.calendar_date_select td.hover {
  background-color:#ccc;
}

.calendar_date_select td.today {
  border: 1px dashed #999;
}